body {
	font-family: Serif, sans-serif;
	background-color: #000000;
	color: #ffffff;
	padding: 20px;
}

td img {
	max-width: 120px;
	height: auto;
	border-radius: 10px;
}

#main-title {
	text-align: center;
	color: #ffffff;
	margin-bottom: 25px;
}

#planets {
	font-family: Serif,  sans-serif;
	border: 2px solid #ffffff;
	border-radius: 20px;
}

table {
	margin: 0 auto;
}



td, th {
	position: center;
	border: 5px solid;
	color: #ffffff;
	
  }


  
