body {
	font-family: Serif, sans-serif;
	background-color: #000000;
	color: #ffffff;
	padding: 20px;
}

td img {
	max-width: 120px;
	height: auto;
	border-radius: 10px;
}

#main-title {
	text-align: center;
	color: #ffffff;
	margin-bottom: 25px;
}

#planets {
	border: 2px solid #ffffff;
	border-radius: 20px;
}

h1 {
	font-family: Serif, sans-serif;
	margin-bottom: 30px;
	font-size: 3em;
}

h2 {
	font-family: Serif, sans-serif;
	font-size: 5em;
}

.extra-facts {
	text-align: center;
	font-size: 3em;
}

table {
	margin: 0 auto;
}

#blue {
color: blue;
}

#red {
	color: red;
}

#green {
	color: green;
}

td, th {
	position: center;
	border: 5px solid;
	color: #ffffff;
	
  }


  
