body {
	font-family: Serif, sans-serif;
	background-color: #000000;
	color: #ffffff;
	padding: 20px;
}

td img {
	max-width: 120px;
	height: auto;
	border-radius: 10px;
}

h1 {
	text-align: center;
	color: #ffffff;
	margin-bottom: 25px;
}



td, th {
	position: center;
	border: 5px solid;
	color: #ffffff;
	
  }


  
