body {
	font-family: Serif, sans-serif;
	background-color: #000000;
	color: #ffffff
	padding: 20px;
}

td img {
	max-width: 120px;
	height: auto;
	border-radius: 10px;
}



td, th {
	border: 5px solid;
	
  }


  
